#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

{{- $dataDir := (datasource "config").nginx.data | default "/var/opt/csghub/nginx" }}
cd {{ $dataDir }}
exec chpst -e /opt/csghub/etc/nginx/env -P \
    -u root:root \
    /opt/csghub/embedded/bin/nginx -c {{ $dataDir }}/nginx.conf -g "daemon off;"