#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

{{- $dataDir := (datasource "config").starship_web.data | default "/var/opt/csghub/starship_web" }}
{{- $configFile := printf "%s/config.toml" $dataDir }}

# Define constants
readonly SERVER_BIN="/opt/csghub/embedded/bin/starship_web"
readonly ENV_DIR="/opt/csghub/etc/starship_web/env"

# Build command arguments
args=("accounting" "launch")
[[ -f "{{ $configFile }}" ]] && args=("--config={{ $configFile }}" "${args[@]}")

echo "Starting starship_web..."
cd {{ $dataDir }}
exec chpst -e "$ENV_DIR" -P -u root:root "$SERVER_BIN" "${args[@]}"
