#!/bin/bash

{{- $logDir := "/var/log/csghub/loki" }}
{{- if has .loki "log" }}
{{- if .loki.log.dir }}
{{- $logDir = .loki.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
