#!/bin/bash

{{- $logDir := "/var/log/csghub/dnsmasq" }}
{{- if has .dnsmasq "log" }}
{{- if .dnsmasq.log.dir }}
{{- $logDir = .dnsmasq.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
