#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

cd /opt/csghub/embedded/sv/web/project
exec chpst -e /opt/csghub/service/web/env -P \
  -u {{ .run_user }}:{{ .run_user }} \
  /opt/csghub/embedded/bin/celery -A config worker --loglevel=INFO -Q high_priority_queue,default -c 2 -n worker%%h
