#!/bin/bash

{{- $logDir := "/var/log/csghub/mirror_repo" }}
{{- if has (datasource "config").mirror_repo "log" }}
{{- if has (datasource "config").mirror_repo.log "dir" }}
{{- if (datasource "config").mirror_repo.log.dir }}
{{- $logDir = (datasource "config").mirror_repo.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
