#!/bin/bash

{{- $logDir := "/var/log/csghub/mirror_repo" }}
{{- if has .mirror_repo "log" }}
{{- if .mirror_repo.log.dir }}
{{- $logDir = .mirror_repo.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
