#!/bin/bash

{{- $logDir := "/var/log/csghub/user" }}
{{- if has .user "log" }}
{{- if .user.log.dir }}
{{- $logDir = .user.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
