#!/bin/bash

{{- $logDir := "/var/log/csghub/gitaly" }}
{{- if has .gitaly "logging" }}
{{- if .gitaly.logging.dir }}
{{- $logDir = .gitaly.logging.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
