.git*
.DS_Store
*.log
*.tmp
tmp/
temp/
src/
Dockerfile
docker-compose.yml
.dockerignore
*.spec
*.deb
*.rpm
debian
*.md
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
ehthumbs.db
Thumbs.db
dockerfiles### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
