[submodule "toolbox/logger"]
	path = toolbox/logger
	url = https://gitlab-ci-token:$CI_JOB_TOKEN@git-devops.opencsg.com/product/infra/deployment-automation/toolbox/logger.git
	branch = main
[submodule "toolbox/csghub-ctl"]
	path = toolbox/csghub-ctl
	url = https://gitlab-ci-token:$CI_JOB_TOKEN@git-devops.opencsg.com/product/infra/deployment-automation/toolbox/csghub-ctl.git
	branch = main
[submodule "toolbox/kyml"]
	path = toolbox/kyml
	url = https://gitlab-ci-token:$CI_JOB_TOKEN@git-devops.opencsg.com/product/infra/deployment-automation/toolbox/kyml.git
	branch = main
