opt/csghub/bin/* filter=lfs diff=lfs merge=lfs -text
opt/csghub/embedded/sv/*/bin/* filter=lfs diff=lfs merge=lfs -text
**/*.so filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
opt/csghub/embedded/bin/* filter=lfs diff=lfs merge=lfs -text
/Users/mason/Coding/Golang/omnibus-csghub/opt/csghub/embedded/python/bin/* filter=lfs diff=lfs merge=lfs -text
/Users/mason/Coding/Golang/omnibus-csghub/opt/csghub/embedded/python/lib/*.so filter=lfs diff=lfs merge=lfs -text
minio filter=lfs diff=lfs merge=lfs -text
logger filter=lfs diff=lfs merge=lfs -text
gomplate filter=lfs diff=lfs merge=lfs -text
mc filter=lfs diff=lfs merge=lfs -text
runit filter=lfs diff=lfs merge=lfs -text
runit-init filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
