[submodule "toolbox/logger"]
	path = toolbox/logger
	url = ../../ToolBox/logger
	branch = main
[submodule "toolbox/csghub-ctl"]
	path = toolbox/csghub-ctl
	url = ../../ToolBox/csghub-ctl
	branch = main
