[submodule "toolbox/logger"]
	path = toolbox/logger
	url = git@git-devops.opencsg.com:product/infra/deployment-automation/toolbox/logger.git
	branch = main
[submodule "toolbox/csghub-ctl"]
	path = toolbox/csghub-ctl
	url = git@git-devops.opencsg.com:product/infra/deployment-automation/toolbox/csghub-ctl.git
	branch = main
[submodule "toolbox/kyml"]
	path = toolbox/kyml
	url = git@git-devops.opencsg.com:product/infra/deployment-automation/toolbox/kyml.git
	branch = main
