#!/bin/bash

{{- $logDir := "/var/log/csghub/rproxy" }}
{{- if has (datasource "config").rproxy "log" }}
{{- if has (datasource "config").rproxy.log "dir" }}
{{- if (datasource "config").rproxy.log.dir }}
{{- $logDir = (datasource "config").rproxy.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
