#!/bin/bash

{{- $logDir := "/var/log/csghub/rproxy" }}
{{- if has .rproxy "log" }}
{{- if .rproxy.log.dir }}
{{- $logDir = .rproxy.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
