{{- $starship := (datasource "config").starship }}
{{- $server := (datasource "config").server }}
{{- $serverCasdoor := $server.casdoor }}
window.envConfig = {
    VITE_APP_BASE_WEB: {{ $starship.external_url | squote }},
    VITE_APP_BASE_API: {{ $starship.external_api_url | squote }},
    {{- $csghub := (datasource "config").csghub }}
    {{- $url := conv.URL $csghub.external_url }}
    {{- $urlParts := $url.Host | strings.Split ":" }}
    {{- $host := index $urlParts 0 | default "csghub.example.com" }}
    {{- $casdoor := (datasource "config").casdoor }}
    {{- $casdoorListen := $casdoor.listen }}
    {{- $casdoorParts := $casdoorListen | strings.Split ":" }}
    {{- $casdoorHost := index $casdoorParts 0 }}
    {{- $casdoorPort := index $casdoorParts 1 }}
    VITE_APP_LOGIN_URL: {{ printf "%s://%s:%s/login/oauth/authorize?client_id=%s&response_type=code&redirect_uri=%s/api/v1/account/casdoor/login/callback&scope=profile&state=casdoor" $url.Scheme $host $casdoorPort $serverCasdoor.client_id $csghub.external_url | squote }}
};