{{- $csghub := (datasource "config").csghub -}}
{{- $url := conv.URL $csghub.external_url -}}
{{- $urlParts := $url.Host | strings.Split ":" -}}
{{- $host := index $urlParts 0 | default "csghub.example.com" -}}

{{- $csgship := (datasource "config").csgship -}}
{{- $csgshipFrontendListen := $csgship.listen.frontend -}}
{{- $csgshipFrontendParts := $csgshipFrontendListen | strings.Split ":" -}}
{{- $csgshipFrontendHost := index $csgshipFrontendParts 0 -}}
{{- if eq $csgshipFrontendHost "127.0.0.1" -}}
{{- $csgshipFrontendHost = $host -}}
{{- end -}}
{{- $csgshipFrontendPort := "8001" -}}
{{- if eq (len $csgshipFrontendParts) 2 -}}
   {{- $csgshipFrontendPort = index $csgshipFrontendParts 1 -}}
{{- end }}
{{- $csgshipEndpoint := printf "%s://%s:%s" $url.Scheme $host $csgshipFrontendPort -}}

{{- $csgshipApiListen := $csgship.listen.api -}}
{{- $csgshipApiParts := $csgshipApiListen | strings.Split ":" -}}
{{- $csgshipApiHost := index $csgshipApiParts 0 -}}
{{- if eq $csgshipApiHost "127.0.0.1" -}}
{{- $csgshipApiHost = $host -}}
{{- end -}}
{{- $csgshipApiPort := "8002" -}}
{{- if eq (len $csgshipApiParts) 2 -}}
   {{- $csgshipApiPort = index $csgshipApiParts 1 -}}
{{- end }}
{{- $csgshipApiEndpoint := printf "%s://%s:%s" $url.Scheme $host $csgshipApiPort -}}
window.envConfig = {
    VITE_APP_BASE_WEB: {{ $csgshipEndpoint | squote }},
    VITE_APP_BASE_API: {{ $csgshipApiEndpoint | squote }},
    {{- $casdoor := tmpl.Exec "config.casdoor.conn" . }}
    VITE_APP_LOGIN_URL: {{ printf "%s://%s:%s/login/oauth/authorize?client_id=%s&response_type=code&redirect_uri=%s/api/v1/account/casdoor/login/callback&scope=profile&state=casdoor" $url.Scheme $host $casdoor.port (tmpl.Exec "GenClientId" "CSGShip") $csghub.external_url | squote }}
};