services:
  csghub:
    image: opencsg-registry.cn-beijing.cr.aliyuncs.com/opencsghq/omnibus-csghub:v1.16.0-ee
    environment:
      CSGHUB_OMNIBUS_CONFIG: |
        csghub:
          external_url: "http://csghub.example.com"
        server:
          dataflow:
            address: "http://dataflow:8000"
        csgship:
          enable: true
    ports:
      - '80:80'
      - '2222:2222'
      - '8000:8000'
      - '8001:8001'
      - '8002:8002'
      - '9000:9000'
      - '9001:9001'
    volumes:
      - csghub_etc:/etc/csghub
      - csghub_logs:/var/log/csghub
      - csghub_data:/var/opt/csghub
    restart: always
    shm_size: '512m'

volumes:
  csghub_etc:
  csghub_logs:
  csghub_data:
