services:
  csghub:
    image: opencsg-registry.cn-beijing.cr.aliyuncs.com/opencsghq/omnibus-csghub:v1.16.0-ee
    environment:
      CSGHUB_OMNIBUS_CONFIG: |
        csghub:
          external_url: "http://csghub.example.com"
        server:
          dataflow:
            address: "http://dataflow:8000"
        csgship:
          enable: true
    ports:
      - '80:80'
      - '2222:2222'
      - '8000:8000'
      - '8001:8001'
      - '8002:8002'
      - '9000:9000'
      - '9001:9001'
    volumes:
      - csghub_etc:/etc/csghub
      - csghub_logs:/var/log/csghub
      - csghub_data:/var/opt/csghub
    restart: always
    shm_size: '256m'

  megalinter-server:
    image: opencsg-registry.cn-beijing.cr.aliyuncs.com/opencsghq/oxsecurity/megalinter-server:beta
    command: uvicorn server.server:app --host 0.0.0.0 --port 9000
    environment:
      MEGALINTER_SERVER_REDIS_HOST: "csghub"
      MEGALINTER_SERVER_REDIS_PORT: 6379
      MEGALINTER_SERVER_REDIS_QUEUE: "megalinter:queue:requests"
    depends_on:
      - csghub
    restart: always

  megalinter-worker:
    image: opencsg-registry.cn-beijing.cr.aliyuncs.com/opencsghq/oxsecurity/megalinter-worker:v8.0.0
    environment:
      MEGALINTER_SERVER_REDIS_HOST: "csghub"
      MEGALINTER_SERVER_REDIS_PORT: 6379
      REDIS_REPORTER_HOST: "csghub"
      REDIS_REPORTER_PORT: 6379
    depends_on:
      - csghub
    restart: always

  secscan:
    image: opencsg-registry.cn-beijing.cr.aliyuncs.com/opencsghq/csgship-secscan:latest
    volumes:
      - csghub_worker_data:/code/data
      - csghub_worker_data:/var/opt/gitrepos
    depends_on:
      - csghub
    restart: always

volumes:
  csghub_worker_data:
  csghub_etc:
  csghub_logs:
  csghub_data:
