#!/bin/bash

{{- $logDir := "/var/log/csghub/temporal_worker" }}
{{- if has .temporal_worker "log" }}
{{- if .temporal_worker.log.dir }}
{{- $logDir = .temporal_worker.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
