{{- $csghub := tmpl.Exec "config.csghub" . | data.YAML -}}
{{- $server := (datasource "config").server -}}
{{- $runner := (datasource "config").runner -}}
{{- $praefect := (datasource "config").praefect -}}
{{- $gitlabShell := (datasource "config").gitlab_shell -}}

saas = {{ $server.saas }}
oversea = false
instance_id = ""
enable_swagger = {{ $server.enable_swagger }}
enable_https = {{ $server.enable_https }}
api_token = {{ tmpl.Exec "GenHubApiToken" . | quote }}
docs_host = {{ printf "%s://%s:6636" $csghub.scheme $csghub.host | quote }}

[api_server]
port = {{ $server.listen_port }}
public_domain = {{ $csghub.external | quote }}
{{- $shell_port := $gitlabShell.ssh_port }}
{{- if eq $shell_port 22 }}
ssh_domain = {{ printf "git@%s:%d" (conv.ToString $csghub.host) (conv.ToInt64 $shell_port) | quote }}
{{- else }}
ssh_domain = {{ printf "ssh://git@%s:%d" (conv.ToString $csghub.host) (conv.ToInt64 $shell_port) | quote }}
{{- end }}

{{ $mirrorRepo := (datasource "config").mirror_repo }}
{{- $mirrorLfs := (datasource "config").mirror_lfs -}}
[mirror]
url = {{ printf "http://localhost:%d" $mirrorRepo.listen_port | quote }}
token = ""
port = {{ $mirrorRepo.listen_port }}
{{- if $server.saas }}
remote = true
{{- else }}
remote = false
{{- end }}
session_secret_key = {{ tmpl.Exec "GenSeed" . | crypto.SHA1 | quote }}
worker_number = {{ $mirrorRepo.worker_number }}
lfs_concurrency = {{ $mirrorLfs.lfs_concurrency }}
part_size = {{ $mirrorLfs.part_size  }}

{{ $postgresql := $server.postgresql }}
{{- $pgUser := $postgresql.user -}}
{{- $pgPassword := $postgresql.password | default (crypto.PBKDF2 $pgUser "opencsg" 2048 8) -}}
[database]
driver = "pg"
dsn = {{ printf "postgresql://%s:%s@%s:%d/%s?sslmode=disable" (conv.ToString $pgUser) (conv.ToString $pgPassword) (conv.ToString $postgresql.host) (conv.ToInt64 $postgresql.port) (conv.ToString $postgresql.name) | quote }}
timezone = {{ $postgresql.timezone | quote }}

{{ $redis := $server.redis }}
{{- $redisUser := $redis.auth.user -}}
{{- $redisPassword := $redis.auth.password | default (crypto.PBKDF2 $redisUser "opencsg" 2048 8) -}}
[redis]
endpoint = {{ $redis.endpoint | quote }}
max_retries = {{ $redis.max_retries }}
min_idle_connections = {{ $redis.min_idle_connections }}
user = {{ $redisUser | quote }}
password = {{ $redisPassword | quote }}
sentinel_mode = {{ $redis.sentinel.mode }}
sentinel_endpoint = {{ $redis.sentinel.endpoint | quote }}
sentinel_master = {{ $redis.sentinel.master | quote }}

[git_server]
type = "gitaly"

{{ $gitaly := $server.gitaly }}
{{- $gitalyToken := $gitaly.token | default (crypto.PBKDF2 "gitaly" "opencsg" 2048 8) -}}
[gitaly_server]
address = {{ $gitaly.address | quote }}
storge = {{ $gitaly.storage | quote }}
token = {{ $gitalyToken | quote }}
jwt_secret ={{ $gitaly.secret | default (tmpl.Exec "GenSeed" . | crypto.SHA256) | quote }}

[frontend]
url = {{ $csghub.external | quote }}

{{ $s3 := $server.s3 }}
{{- $accessKeyId := $s3.access_key -}}
{{- $secretKey := $s3.secret_key | default (crypto.PBKDF2 $accessKeyId "opencsg" 2048 8) -}}
[s3]
access_key_id = {{ $accessKeyId | quote }}
access_key_secret = {{ $secretKey | quote }}
region = {{ $s3.region | quote }}
endpoint = {{ $s3.endpoint | default (printf "%s:9000" $csghub.host) | quote }}
internal_endpoint = {{ $s3.internal_endpoint | quote }}
bucket = {{ $s3.bucket | quote }}
enable_ssl = {{ $s3.encrypt }}
{{- if $s3.path_style }}
bucket_lookup = "path"
{{- else }}
bucket_lookup = "auto"
{{- end }}

[jwt]
signing_key = {{ $gitaly.secret | default (tmpl.Exec "GenSeed" . | crypto.SHA256) | quote }}
valid_hour = 24

[space]
internal_root_domain = "spaces.app.internal:8083"
{{- if $runner.use_public_domain }}
public_root_domain = {{ printf "public.%s" (tmpl.Exec "domain.root" .) | quote }}
{{- else }}
public_root_domain = ""
{{- end }}
session_secret_key = {{ tmpl.Exec "GenSeed" . | crypto.SHA1 | quote }}
pypi_index_url = {{ $runner.pip_index_url | quote }}

{{ $model := $runner.model -}}
[model]
deploy_timeout_in_min = {{ $model.deploy_timeout }}
download_endpoint = {{ $csghub.external | quote }}
docker_reg_base = {{ $model.registry | quote }}
nim_docker_secret_name = "ngc-secret"
nim_ngc_secret_name = "nvidia-nim-secrets"

[event]
sync_interval = {{ $mirrorRepo.sync_interval }}

{{ $casdoor := (datasource "config").casdoor -}}
{{- $serverCasdoor := $server.casdoor -}}
[casdoor]
client_id = {{ tmpl.Exec "GenClientId" "CSGHub" | quote }}
client_secret = {{ tmpl.Exec "GenClientSecret" "CSGHub" | quote }}
endpoint = {{ $serverCasdoor.endpoint | default (tmpl.Exec "endpoint.casdoor" .) | quote }}
certificate = {{ $serverCasdoor.certificate | quote }}
organization_name = {{ $serverCasdoor.organization_name | quote }}
application_name = {{ $serverCasdoor.application_name | quote }}

{{ $nats := (datasource "config").nats }}
{{- $natsUser := $nats.auth.user -}}
{{- $natsPassword := $nats.auth.password | default (crypto.PBKDF2 $natsUser "opencsg" 2048 8) -}}
{{- $serverNats := $server.nats -}}
[nats]
url = {{ $serverNats.url | default (printf "nats://%s:%s@localhost:4222" (conv.ToString $natsUser) (conv.ToString $natsPassword)) | quote }}
msg_fetch_timeout_in_sec = {{ $serverNats.msg_fetch_timeout_in_sec }}

{{ $accounting := (datasource "config").accounting }}
{{- $actParts := $accounting.listen | strings.Split ":" -}}
{{- $actHost := index $actParts 0 -}}
{{- $actPort := "" -}}
{{- if gt (len $actParts) 1 -}}
    {{- $actPort = index $actParts 1 -}}
{{- else -}}
    {{- $actPort = "8086" -}}
{{- end -}}
[accounting]
host = {{ printf "http://%s" $actHost | quote }}
port = {{ $actPort }}

{{ $user := (datasource "config").user }}
{{- $userParts := $user.listen | strings.Split ":" -}}
{{- $userHost := index $userParts 0 -}}
{{- $userPort := "" -}}
{{- if gt (len $userParts) 1 -}}
    {{- $userPort = index $userParts 1 -}}
{{- else -}}
    {{- $actPort = "8088" -}}
{{- end -}}
[user]
host = {{ printf "http://%s" $userHost | quote }}
port = {{ $userPort }}
signin_success_redirect_url = {{ printf "%s/server/callback" $csghub.external | quote }}

{{ $multi_sync := $server.multi_sync -}}
[multi_sync]
enabled = {{ $multi_sync.enabled }}
saas_api_domain = "https://hub.opencsg.com"
saas_sync_domain = "https://sync.opencsg.com"

{{ $telemetry := $server.telemetry -}}
[telemetry]
enable = {{ $telemetry.enabled | default true }}
report_url = "http://hub.opencsg.com/api/v1/telemetry"

[auto_clean]
instance = false

{{ $dataset := $server.dataset -}}
[dataset]
prompt_max_jsonl_file_size = {{ $dataset.prompt_max_jsonl_file_size }}

{{ $dataflow := $server.dataflow -}}
{{- $dfUrl := conv.URL $dataflow.address -}}
{{- $dfUrlParts := $dfUrl.Host | strings.Split ":" -}}
{{- $dfHost := index $dfUrlParts 0 -}}
{{- $dfPort := "" -}}
{{- if gt (len $dfUrlParts) 1 -}}
  {{- $dfPort = index $dfUrlParts 1 -}}
{{- else -}}
  {{- if eq $dfUrl.Scheme "https" -}}
    {{- $dfPort = "443" -}}
  {{- else -}}
    {{- $dfPort = "80" -}}
  {{- end -}}
{{- end -}}
[dataflow]
host = {{ printf "%s://%s" $dfUrl.Scheme $dfHost | quote }}
port = {{ $dfPort }}

{{ $moderation := (datasource "config").moderation -}}
{{- if $moderation.enable -}}
{{- $moderationAddress := $moderation.address -}}
{{- $moderationUrl := conv.URL $moderationAddress -}}
{{- $moderationParts := $moderationUrl.Host | strings.Split ":" -}}
{{- $moderationHost := index $moderationParts 0 | default "127.0.0.1" -}}
{{- $moderationPort := "" -}}
{{- if gt (len $moderationParts) 1 }}
  {{- $moderationPort = index $moderationParts 1 -}}
{{- else -}}
    {{- $moderationPort = "8089" -}}
{{- end -}}
[moderation]
host = {{ printf "%s://%s" $moderationUrl.Scheme $moderationHost | quote }}
port = {{ $moderationPort }}
encoded_sensitive_words = {{ $moderation.encoded_sensitive_words | quote }}

{{ $sensitive := $moderation.sensitive_check -}}
[sensitive_check]
enable = true
access_key_id = {{ $sensitive.access_key_id | quote }}
access_key_secret = {{ $sensitive.access_key_secret | quote }}
region = {{ $sensitive.region | quote }}
endpoint = {{ $sensitive.endpoint | quote }}
enable_ssl = {{ $sensitive.enable_ssl }}
{{- end -}}

{{ $workflow := $server.workflow -}}
[workflow]
endpoint = {{ $workflow.endpoint | quote }}

[cron_job]
sync_as_client_cron_expression = {{ $multi_sync.sync_as_client_cron_expression | quote }}
calc_recom_score_cron_expression = {{ $multi_sync.calc_recom_score_cron_expression | quote }}

{{ $proxy := $server.proxy -}}
[proxy]
hosts = [{{- range $k, $v := $proxy.hosts }}{{if $k}}, {{end}}{{$v | quote }}{{- end }}]

{{ $instrumentation := $server.instrumentation -}}
[instrumentation]
otlp_logging = {{ $instrumentation.otlp_logging }}
otlp_endpoint = {{ $instrumentation.otlp_endpoint | quote }}

{{ $git := $server.git -}}
[git]
operation_timeout = {{ $git.operation_timeout }}
{{- if $praefect.enable }}
check_file_size_enabled = false
{{- else }}
check_file_size_enabled = {{ $git.check_file_size_enabled }}
{{- end }}
max_un_lfs_file_size = {{ $git.max_un_lfs_file_size }}
skip_lfs_file_validation = {{ $git.skip_lfs_file_validation }}


{{ $notifier := (datasource "config").notifier -}}
{{- if $notifier.enable }}
{{- $notifyListen := $notifier.listen -}}
{{- $notifyParts := $notifyListen | strings.Split ":" -}}
{{- $notifyHost := index $notifyParts 0 | default "127.0.0.1" -}}
{{- $notifyPort := "8095" -}}
{{- if eq (len $notifyParts) 2 -}}
  {{- $notifyPort = index $notifyParts 1 -}}
{{- end -}}
[notification]
host = {{ printf "http://%s" $notifyHost | quote }}
port = {{ $notifyPort }}
mailer_host = {{ $notifier.smtp.host | quote }}
mailer_port = {{ $notifier.smtp.port }}
mailer_username = {{ $notifier.smtp.username | quote }}
mailer_password = {{ $notifier.smtp.password | quote }}
repo_sync_timezone = {{ $notifier.repo_sync_timezone | quote }}
broadcast_user_page_size = {{ $notifier.broadcast_user_page_size }}
broadcast_email_page_size = {{ $notifier.broadcast_email_page_size }}

{{ $feishu := $notifier.feishu -}}
[feishu]
app_id = {{ $feishu.app_id | quote }}
app_secret = {{ $feishu.app_secret | quote }}
batch_send_message_cron_expression = {{ $feishu.batch_send_message_cron_expression | quote }}
max_request_content_size = {{ $feishu.max_request_content_size }}
max_delay_duration = {{ $feishu.max_delay_duration }}
chat_ids_cache_ttl = {{ $feishu.chat_ids_cache_ttl }}
{{- end }}

{{ $prometheus := $server.prometheus -}}
[prometheus]
api_address = {{ printf "%s/api/v1/query" $prometheus.address | quote }}

{{ $logcollector := $server.logcollector -}}
[logcollector]
loki_url = {{ $logcollector.loki_url | quote }}
