#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $envDir := "/opt/csghub/etc/megalinter_worker/env" }}

# Clear all environment variable files
# rm -rf {{ $envDir }}/* || true

{{- $worker := (datasource "config").megalinter_worker }}
{{- $dataDir := (datasource "config").data | default "/var/opt/csghub/megalinter_worker" }}
{{- $redis := $worker.redis }}
{{- file.Write (printf "%s/FLAVOR_SUGGESTIONS" $envDir) "false" }}
{{- file.Write (printf "%s/MEGALINTER_CONFIG" $envDir) (printf "%s/config/.mega-linter.yml" $dataDir) }}
{{- file.Write (printf "%s/MEGALINTER_FLAVOR" $envDir) "all" }}
{{- file.Write (printf "%s/MEGALINTER_SERVER" $envDir) "true" }}
{{- file.Write (printf "%s/MEGALINTER_SERVER_REDIS_HOST" $envDir) $redis.host }}
{{- file.Write (printf "%s/MEGALINTER_SERVER_REDIS_PORT" $envDir) $redis.port }}
{{- file.Write (printf "%s/MEGALINTER_SERVER_REDIS_QUEUE" $envDir) "megalinter:queue:requests" }}
{{- file.Write (printf "%s/MEGALINTER_SERVER_WORKER_POOL" $envDir) "true" }}
{{- file.Write (printf "%s/MEGALINTER_SERVER_WORKER_POOL_NUMBER" $envDir) "5" }}
{{- file.Write (printf "%s/REDIS_REPORTER" $envDir) "true" }}
{{- file.Write (printf "%s/REDIS_REPORTER_HOST" $envDir) $redis.host }}
{{- file.Write (printf "%s/REDIS_REPORTER_PORT" $envDir) $redis.port }}
