#!/bin/bash

{{- $logDir := "/var/log/csghub/server" }}
{{- if has (datasource "config").server "log" }}
{{- if has (datasource "config").server.log "dir" }}
{{- if (datasource "config").server.log.dir }}
{{- $logDir = (datasource "config").server.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -U root:root \
  -u root:root \
  svlogd -tt {{ $logDir }}
