#!/bin/bash

{{- $logDir := "/var/log/csghub/server" }}
{{- if has .server "log" }}
{{- if .server.log.dir }}
{{- $logDir = .server.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
