#!/bin/bash

{{- $logDir := "/var/log/csghub/worker" }}
{{- if has .worker "log" }}
{{- if .worker.log.dir }}
{{- $logDir = .worker.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
