#!/bin/bash

{{- $logDir := "/var/log/csghub/minio" }}
{{- if (datasource "config").minio.log }}
{{- $logDir = (datasource "config").minio.log }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
