#!/bin/bash

{{- $logDir := "/var/log/csghub/accounting" }}
{{- if has (datasource "config").accounting "log" }}
{{- if has (datasource "config").accounting.log "dir" }}
{{- if (datasource "config").accounting.log.dir }}
{{- $logDir = (datasource "config").accounting.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -U root:root \
  -u root:root \
  svlogd -tt {{ $logDir }}
