#!/bin/bash

{{- $logDir := "/var/log/csghub/accounting" }}
{{- if has .accounting "log" }}
{{- if .accounting.log.dir }}
{{- $logDir = .accounting.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
