#!/bin/bash

{{- $logDir := "/var/log/csghub/producer" }}
{{- if has .producer "log" }}
{{- if .producer.log.dir }}
{{- $logDir = .producer.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
