{{- $server := (datasource "config").server }}
{{- $casdoor := $server.casdoor }}
-- Casdoor
INSERT INTO socialaccount_socialapp
  (id, provider, name, client_id, secret, key, provider_id, settings)
VALUES
  (1, 'casdoor', 'casdoor', {{ $casdoor.client_id | squote }}, {{ $casdoor.client_secret | squote }}, '', 'casdoor', '{"SCOPE": ["profile"]}')
ON CONFLICT (id) DO NOTHING;

SELECT
pg_catalog.setval('public.socialaccount_socialapp_id_seq', (
        SELECT
            MAX(id)
        FROM public.socialaccount_socialapp), TRUE);