-- Casdoor
INSERT INTO socialaccount_socialapp
  (id, provider, name, client_id, secret, key, provider_id, settings)
VALUES
  (1, 'casdoor', 'casdoor', {{ tmpl.Exec "GenClientId" "CSGHub" | squote }}, {{ tmpl.Exec "GenClientSecret" "CSGHub" | squote }}, '', 'casdoor', '{"SCOPE": ["profile"]}')
ON CONFLICT (id) DO UPDATE;

SELECT
pg_catalog.setval('public.socialaccount_socialapp_id_seq', (
        SELECT
            MAX(id)
        FROM public.socialaccount_socialapp), TRUE);