-- Init Admin user
INSERT INTO accounts_user
  (password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined)
VALUES
  ('pbkdf2_sha256$720000$ADQralA3c5ajFecfQBZONu$uNE3YstFZ3Ezq9LQGHyPsA2Lj/k6w4QlSpq5apqH6p4=', 't', 'admin', '','', 'admin@example.com', 't', 't', now())
ON CONFLICT (username) DO NOTHING;

SELECT
pg_catalog.setval('public.accounts_user_id_seq', (
        SELECT
            MAX(id)
        FROM public.accounts_user), TRUE);