#!/bin/bash

{{- $logDir := "/var/log/csghub/mirror_lfs" }}
{{- if has .mirror_lfs "log" }}
{{- if .mirror_lfs.log.dir }}
{{- $logDir = .mirror_lfs.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
