#!/bin/bash

{{- $logDir := "/var/log/csghub/mirror_lfs" }}
{{- if has (datasource "config").mirror_lfs "log" }}
{{- if has (datasource "config").mirror_lfs.log "dir" }}
{{- if (datasource "config").mirror_lfs.log.dir }}
{{- $logDir = (datasource "config").mirror_lfs.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
