#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $envDir := "/opt/csghub/etc/portal/env" }}

# Clear all environment variable files
# rm -rf {{ $envDir }}/* || true

# Define the repository parent directory
{{- $portal := (datasource "config").portal }}
{{- $dataDir := $portal.data | default "/var/opt/csghub/portal" }}

{{- file.Write (printf "%s/CSGHUB_PORTAL_APP_ENV" $envDir) "production" }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_ON_PREMISE" $envDir) "true" }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_SENSITIVE_CHECK" $envDir) "false" }}

{{- $apiToken := tmpl.Exec "GenHubApiToken" . }}

{{- $csghub := tmpl.Exec "config.csghub" . | data.YAML }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_STARHUB_BASE_URL" $envDir) $csghub.external }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_STARHUB_API_KEY" $envDir) $apiToken }}

{{- if eq $csghub.scheme "https" }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_ENABLE_HTTPS" $envDir) "true" }}
{{- else }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_ENABLE_HTTPS" $envDir) "false" }}
{{- end }}

{{- $db := $portal.postgresql }}
{{- $password := $db.password | default (crypto.PBKDF2 $db.user "opencsg" 2048 8) }}
{{- $dsn := printf "postgresql://%s:%s@%s:%d/%s?sslmode=disable" (conv.ToString $db.user) (conv.ToString $password) (conv.ToString $db.host) (conv.ToInt64 $db.port) (conv.ToString $db.name) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_DATABASE_DSN" $envDir) $dsn }}

{{- $postgresql := (datasource "config").postgresql }}
{{- $patroni := (datasource "config").patroni }}
{{- if or $postgresql.enable $patroni.enable }}
# Create database and user
/opt/csghub/bin/csghub-dbm -d {{ $db.name }} -u {{ $db.user }} -p {{ $password }}
# If portal database exists reset all objects owner to current db user
/opt/csghub/bin/csghub-dbm -a update -d {{ $db.name }} -N {{ $db.user }}
{{- end }}

{{- $casdoor := tmpl.Exec "config.casdoor.conn" . | data.YAML }}
{{- $casdoorClientId := tmpl.Exec "GenClientId" "CSGHub" }}
{{- $callback := printf "%s://%s:%s/login/oauth/authorize?client_id=%s&response_type=code&redirect_uri=%s/api/v1/callback/casdoor&scope=read&state=casdoor" $csghub.scheme $csghub.host $casdoor.port $casdoorClientId $csghub.external }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_LOGIN_URL" $envDir) $callback }}

{{- $s3 := $portal.s3 }}
{{- $additionalS3 := $portal.additionalS3 }}
{{- $accessKeyId := $s3.access_key }}
{{- $accessSecretKey := $s3.secret_key | default (crypto.PBKDF2 $accessKeyId "opencsg" 2048 8) }}

{{- file.Write (printf "%s/CSGHUB_PORTAL_S3_ENABLE_SSL" $envDir) $s3.secure }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_S3_REGION" $envDir) $s3.region }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_S3_ACCESS_KEY_ID" $envDir) $accessKeyId }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_S3_ACCESS_KEY_SECRET" $envDir) $accessSecretKey }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_S3_BUCKET" $envDir) $s3.bucket }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_S3_ENDPOINT" $envDir) ($s3.endpoint | default (printf "%s:9000" $csghub.host)) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_PRIVATE_S3_ENABLE_SSL" $envDir) ($additionalS3.secure | default $s3.secure) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_PRIVATE_S3_REGION" $envDir) ($additionalS3.region | default $s3.region) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_PRIVATE_S3_ACCESS_KEY_ID" $envDir) ($additionalS3.accessKeyId | default $accessKeyId) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_PRIVATE_S3_ACCESS_KEY_SECRET" $envDir) ($additionalS3.accessSecretKey | default $accessSecretKey) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_PRIVATE_S3_BUCKET" $envDir) ($additionalS3.bucket | default $s3.bucket) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_PRIVATE_S3_ENDPOINT" $envDir) ($additionalS3.endpoint | default $s3.endpoint) }}
{{- file.Write (printf "%s/CSGHUB_PORTAL_AI_GATEWAY_HOST" $envDir) (printf "%s/aigateway" $csghub.external) }}

{{- $minio := (datasource "config").minio }}
{{- if $minio.enable }}
# Create bucket
[ -x "/opt/csghub/service/minio/create_bucket" ] && \
    /opt/csghub/service/minio/create_bucket {{ $portal.s3.bucket }} "public" && \
    /opt/csghub/service/minio/create_bucket {{ $portal.additionalS3.bucket }}
{{- end }}

