#!/bin/bash

{{- $logDir := "/var/log/csghub/gitlab_shell" }}
{{- if has .gitlab_shell "logging" }}
{{- if .gitlab_shell.logging.dir }}
{{- $logDir = .gitlab_shell.logging.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
