#!/bin/bash

{{- $logDir := "/var/log/csghub/aigateway" }}
{{- if has .aigateway "log" }}
{{- if .aigateway.log.dir }}
{{- $logDir = .aigateway.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
