#!/bin/bash

{{- $logDir := "/var/log/csghub/portal" }}
{{- if has .portal "logging" }}
{{- if .portal.logging.dir }}
{{- $logDir = .portal.logging.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
