#!/bin/bash

{{- $logDir := "/var/log/csghub/portal" }}
{{- if has (datasource "config").portal "logging" }}
{{- if has (datasource "config").portal.logging "dir" }}
{{- if (datasource "config").portal.logging.dir }}
{{- $logDir = (datasource "config").portal.logging.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -U root:root \
  -u root:root \
  svlogd -tt {{ $logDir }}
