#!/bin/bash

{{- $logDir := "/var/log/csghub/nats" }}
{{- if has .nats "log" }}
{{- if .nats.log.dir }}
{{- $logDir = .nats.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
