#!/bin/bash

{{- $logDir := "/var/log/csghub/nats" }}
{{- if has (datasource "config").nats "log" }}
{{- if has (datasource "config").nats.log "dir" }}
{{- if (datasource "config").nats.log.dir }}
{{- $logDir = (datasource "config").nats.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
