#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run pre-start hooks before any other initialization to allow them to set up necessary files and permissions.
csghub-ctl hook pre-start redis

{{- $dataDir := (datasource "config").redis.data | default "/var/opt/csghub/redis" }}
{{- $configDir := "/opt/csghub/service/redis/etc" }}

cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/redis/env -P \
  -u redis:redis \
  /opt/csghub/embedded/bin/redis-server {{ $configDir }}/redis.conf
