#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

# fail on errors
set -e

{{- $dataDir := (datasource "config").redis.data | default "/var/opt/csghub/redis" }}
cd {{ $dataDir }}
exec chpst -e /opt/csghub/etc/redis/env -P \
  -u redis:redis \
  /opt/csghub/embedded/bin/redis-server {{ $dataDir }}/redis.conf
