#!/bin/bash

{{- $logDir := "/var/log/csghub/temporal" }}
{{- if has (datasource "config").temporal "log" }}
{{- if has (datasource "config").temporal.log "dir" }}
{{- if (datasource "config").temporal.log.dir }}
{{- $logDir = (datasource "config").temporal.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
