#!/bin/bash

{{- $logDir := "/var/log/csghub/temporal" }}
{{- if has .temporal "log" }}
{{- if .temporal.log.dir }}
{{- $logDir = .temporal.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
