#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $envDir := "/opt/csghub/etc/minio/env" }}
cd {{ $envDir }}

# Clear all environment variable files
# rm -rf {{ $envDir }}/* || true

{{- $logger := (datasource "config").logger }}
{{- file.Write (printf "%s/WEBHOOK_LISTEN_PORT" $envDir) $logger.listen_port }}
{{- file.Write (printf "%s/WEBHOOK_AUTH_TOKEN" $envDir) $logger.auth_token }}

