#!/bin/bash -e

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

exec chpst -e /opt/csghub/service/minio/env -P \
  -u {{ .run_user }}:{{ .run_user }} \
  /opt/csghub/embedded/bin/logger
