#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $dataDir := (datasource "config").consul.data_dir | default "/var/opt/csghub/consul" }}
if [ -e {{ $dataDir }}/server_metadata.json ]; then
  rm {{ $dataDir }}/server_metadata.json || true
fi

cd {{ $dataDir }}
exec chpst -e /opt/csghub/etc/consul/env -P \
  -u consul:consul \
  /opt/csghub/embedded/bin/consul agent -config-dir={{ $dataDir }}
