#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $dataDir := "/var/opt/csghub/consul" }}
{{- if (datasource "config").consul.data }}
{{- $dataDir = (datasource "config").consul.data }}
{{- end }}

if [ -e {{ $dataDir }}/server_metadata.json ]; then
  rm {{ $dataDir }}/server_metadata.json || true
fi

exec chpst -e /opt/csghub/etc/consul/env -P \
  -U consul:consul \
  -u consul:consul \
  /opt/csghub/embedded/bin/consul agent -config-dir={{ $dataDir }}
