#!/bin/bash

{{- $logDir := "/var/log/csghub/redis" }}
{{- if has .redis "log" }}
{{- if .redis.log.dir }}
{{- $logDir = .redis.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
