#!/bin/bash

{{- $logDir := "/var/log/csghub/prometheus" }}
{{- if has .prometheus "log" }}
{{- if .prometheus.log.dir }}
{{- $logDir = .prometheus.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
