#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $configDir := "/opt/csghub/etc/dnsmasq" }}
{{- $runner := (datasource "config").runner }}
{{- $ns := $runner.namespace }}
{{- $services := $runner.knative.services }}
{{- range $services }}
{{- $entry := printf "address=/%s.%s/127.0.0.1" $ns .domain }}
{{- $configFile := printf "%s/%s.conf" $configDir .domain }}
{{- file.Write $configFile $entry }}
{{- end }}

{{- $csghub := tmpl.Exec "config.csghub" . | data.YAML -}}
{{- if and $runner.use_public_domain (regexp.Match `^[a-zA-Z0-9.-]+$` $csghub.host) }}
{{- $rootDomain := tmpl.Exec "domain.root" . }}
{{- $entry := printf "cname=public.%s,%s" $rootDomain $csghub.host }}
{{- $configFile := printf "%s/%s.conf" $configDir (printf "public.%s" $rootDomain) }}
{{- file.Write $configFile $entry }}
{{- end }}

# Enable local resolution
if [ -f "/etc/resolv.conf" ]; then
  if ! grep -q -w '127.0.0.1' /etc/resolv.conf; then
    cp -f /etc/resolv.conf /tmp/resolv.conf.bak
    sed '0,/nameserver/s//nameserver 127.0.0.1\n&/' /tmp/resolv.conf.bak > /etc/resolv.conf
  fi
fi

# Grant dnsmasq permission to bind to port numbers below 1024
# You can using `getcap /opt/csghub/embedded/sv/dnsmasq/bin/dnsmasq` verify
setcap 'cap_net_bind_service=+ep' /opt/csghub/embedded/sv/dnsmasq/bin/dnsmasq
