#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $configDir := "/opt/csghub/etc/dnsmasq" }}
cd {{ $configDir }}
{{- $runner := (datasource "config").runner }}
{{- $configFile := printf "%s/internal-domain.conf" $configDir }}
{{- $ns := $runner.deploy.namespace }}
{{- $services := $runner.deploy.knative.services }}
{{- range $services }}
{{- $entry := printf "address=/%s.%s/127.0.0.1" $ns .domain }}
{{- file.Write $configFile $entry }}
{{- end }}

# Enable local resolution
sed -i '0,/nameserver/s//nameserver 127.0.0.1\n&/' /etc/resolv.conf

exit 0