#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run pre-start hooks before any other initialization to allow them to set up necessary files and permissions.
csghub-ctl hook pre-start dnsmasq

exec chpst -e /opt/csghub/service/dnsmasq/env -P \
  -u dnsmasq:dnsmasq \
  /opt/csghub/embedded/bin/dnsmasq --conf-dir=/opt/csghub/embedded/etc/dnsmasq --no-daemon
