#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Grant dnsmasq permission to bind to privileged ports
setcap cap_net_bind_service=+ep /opt/csghub/embedded/sv/dnsmasq/bin/dnsmasq

exec chpst -e /opt/csghub/service/dnsmasq/env -P \
  -u {{ .run_user }}:{{ .run_user }} \
  /opt/csghub/embedded/bin/dnsmasq --conf-dir=/opt/csghub/embedded/etc/dnsmasq --no-daemon
