#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run pre-start hooks before any other initialization to allow them to set up necessary files and permissions.
csghub-ctl hook pre-start xnet

{{- $xnet := (datasource "config").xnet }}
{{- $dataDir := $xnet.data | default "/var/opt/csghub/xnet" }}
{{- $configDir := "/opt/csghub/service/xnet/etc" }}
{{- $configFile := printf "%s/config.toml" $configDir }}

# Define constants
readonly SERVER_BIN="/opt/csghub/embedded/bin/csghub-xnet"
readonly ENV_DIR="/opt/csghub/service/xnet/env"

# Build command arguments
args=("start" "server" "-l" {{ $xnet.log.level | quote }})
[[ -f "{{ $configFile }}" ]] && args=("--config={{ $configFile }}" "${args[@]}")

echo "Starting xnet..."
cd {{ $dataDir }}
exec chpst -e "$ENV_DIR" -P -u root:root "$SERVER_BIN" "${args[@]}"
