#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run pre-start hooks before any other initialization to allow them to set up necessary files and permissions.
csghub-ctl hook pre-start web

# fail on errors
set -e

{{- $dataDir := (datasource "config").web.data | default "/var/opt/csghub/web" }}
cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/web/env -P \
  -u root:root \
  /opt/csghub/embedded/bin/gunicorn -c /opt/csghub/embedded/sv/web/project/gunicorn_config.py