#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

# fail on errors
set -e

{{- $dataDir := (datasource "config").server.data | default "/var/opt/csghub/server" }}
{{- $configDir := "/opt/csghub/etc/server" }}
{{- $configFile := printf "%s/config.toml" $dataDir }}

cd {{ $configDir }}
COMMAND="/opt/csghub/embedded/bin/csghub-server"
if [ -f "{{ $configFile }}" ]; then
  COMMAND="$COMMAND --config={{ $configFile }}"
fi

echo "Database setup..."
echo "Migration init"
chpst -e /opt/csghub/etc/server/env -P \
    -U root:root \
    -u root:root \
    $COMMAND migration init

echo "Migration migrate"
chpst -e /opt/csghub/etc/server/env -P \
    -U root:root \
    -u root:root \
    $COMMAND migration migrate

echo "Start server..."
exec chpst -e /opt/csghub/etc/server/env -P \
    -U root:root \
    -u root:root \
    $COMMAND start server
