#!/bin/bash

{{- $logDir := "/var/log/csghub/billing" }}
{{- if has .billing "log" }}
{{- if .billing.log.dir }}
{{- $logDir = .billing.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
