#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $envDir := "/opt/csghub/etc/patroni/env" }}

# Clear all environment variable files
# rm -rf {{ $envDir }}/* || true

if [ -e /dev/watchdog ]; then
    chown postgres:postgres /dev/watchdog || true
fi

{{- $dataDir := (datasource "config").patroni.data_dir | default "/var/opt/csghub/postgresql" }}
chown -R postgres:postgres {{ $dataDir }} || true

{{- file.Write (printf "%s/PGHOME" $envDir) "/opt/csghub/embedded/sv/postgresql" }}
{{- file.Write (printf "%s/PGDATA" $envDir) (printf "%s/data" $dataDir) }}
{{- file.Write (printf "%s/MANPATH" $envDir) (printf "%s/share/man:%s" (env.Getenv "PGHOME") (env.Getenv "MANPATH")) }}
{{- file.Write (printf "%s/PYTHONHOME" $envDir) "/opt/csghub/embedded/python" }}
{{- file.Write (printf "%s/LD_LIBRARY_PATH" $envDir) (printf "%s/lib:%s/lib:%s" (env.Getenv "PYTHONHOME") (env.Getenv "PGHOME") (env.Getenv "LD_LIBRARY_PATH")) }}
{{- file.Write (printf "%s/PATRONI_HOME" $envDir) "/opt/csghub/embedded/sv/patroni" }}
{{- file.Write (printf "%s/PYTHONPATH" $envDir) (printf "%s/lib/python3.11/site-packages:%s/lib/python3.11/site-packages" (env.Getenv "PATRONI_HOME") (env.Getenv "PYTHONHOME")) }}
{{- file.Write (printf "%s/PATH" $envDir) (printf "%s/bin:%s/bin:%s" (env.Getenv "PYTHONHOME") (env.Getenv "PGHOME") (env.Getenv "PATH")) }}
