#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $envDir := "/opt/csghub/etc/patroni/env" }}
cd {{ $envDir }}

# Clear all environment variable files
rm -rf {{ $envDir }}/* || true

if [ -e /dev/watchdog ]; then
    chown postgres:postgres /dev/watchdog || true
fi

{{- $dataDir := (datasource "config").patroni.data_dir | default "/var/opt/csghub/postgresql" }}
chown -R postgres:postgres {{ $dataDir }} || true

{{- file.Write (printf "%s/PGHOME" $envDir) "/opt/csghub/embedded/sv/postgresql" }}
{{- file.Write (printf "%s/PGDATA" $envDir) (printf "%s/data" $dataDir) }}
{{- file.Write (printf "%s/MANPATH" $envDir) "$PGHOME/share/man:$MANPATH" }}
{{- file.Write (printf "%s/PYTHONHOME" $envDir) "/opt/csghub/embedded/python" }}
{{- file.Write (printf "%s/LD_LIBRARY_PATH" $envDir) "$PYTHONHOME/lib:$PGHOME/lib:$LD_LIBRARY_PATH" }}
{{- file.Write (printf "%s/PATRONI_HOME" $envDir) "/opt/csghub/embedded/sv/patroni" }}
{{- file.Write (printf "%s/PYTHONPATH" $envDir) "$PATRONI_HOME/lib/python3.13/site-packages:$PYTHONHOME/lib/python3.13/site-packages" }}
{{- file.Write (printf "%s/LD_LIBRARY_PATH" $envDir) "$PYTHONHOME/bin:$PGHOME/bin:$PATH" }}

exit 0
