#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

{{- $dataDir := (datasource "config").patroni.data_dir | default "/var/opt/csghub/patroni" }}
{{- $configDir := (datasource "config").patroni.config_dir | default "/var/opt/csghub/patroni" }}

cd {{ $configDir }}
exec chpst -e /opt/csghub/etc/patroni/env -P \
  -u postgres:postgres \
  /opt/csghub/embedded/bin/python3.11 /opt/csghub/embedded/bin/patroni {{ $configDir }}/patroni.yaml