#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

{{- $dataDir := .patroni.data_dir | default "/var/opt/csghub/patroni" }}
{{- $configDir := .patroni.config_dir | default "/opt/csghub/service/patroni/etc" }}

cd {{ $configDir }}
exec chpst -e /opt/csghub/service/patroni/env -P \
  -u {{ .run_user }}:{{ .run_user }} \
  /opt/csghub/embedded/bin/python3.11 /opt/csghub/embedded/bin/patroni {{ $configDir }}/patroni.yaml
