#!/bin/bash

{{- $logDir := "/var/log/csghub/consul" }}
{{- if has .consul "log_dir" }}
{{- if .consul.log_dir }}
{{- $logDir = .consul.log_dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
