#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Define the repository parent directory
{{- $gitaly := (datasource "config").gitaly }}
{{- $dataDir := $gitaly.data_dir | default "/var/opt/csghub/gitaly" }}
mkdir -p {{ $dataDir }}/run {{ $dataDir }}/repositories || true
chown -R git:git {{ $dataDir }}/run {{ $dataDir }}/repositories

# Create pid file and variable file
{{- $pidFile := printf "%s/gitaly.pid" $dataDir }}
if [ ! -s {{ $pidFile }} ]; then
  echo -n 0 > {{ $pidFile }}
fi

{{- $envDir := "/opt/csghub/etc/gitaly/env" }}
cd {{ $envDir }}
{{- $pidFileEnv := printf "%s/GITALY_PID_FILE" $envDir }}
{{- file.Write $pidFileEnv $pidFile }}

# Add secret key file
{{- $server := (datasource "config").server }}
{{- $secret := $server.gitaly.secret | default "signing-key" }}
{{- $secretFile := $server.gitaly.secret_file | default (printf "%s/.csghub_secret" $dataDir) }}

{{- if and $secret $secretFile }}
mkdir -p {{ path.Dir $secretFile }} || true
{{- file.Write $secretFile $secret }}
{{- end }}

exit 0
