#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

# Define the repository parent directory
{{- $gitaly := (datasource "config").gitaly }}
{{- $dataDir := $gitaly.data_dir | default "/var/opt/csghub/gitaly" }}
mkdir -p {{ $dataDir }}/run {{ $dataDir }}/repositories || true

# Create pid file and variable file
{{- $pidFile := printf "%s/gitaly.pid" $dataDir }}
if [ ! -s {{ $pidFile }} ]; then
  echo -n 0 > {{ $pidFile }}
fi

{{- $envDir := "/opt/csghub/etc/gitaly/env" }}
{{- $pidFileEnv := printf "%s/GITALY_PID_FILE" $envDir }}
{{- file.Write $pidFileEnv $pidFile }}
