#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $envDir := "/opt/csghub/etc/gitaly/env" }}
mkdir -p {{ $envDir }} &>/dev/null

# Clear all environment variable files
# rm -rf {{ $envDir }}/* &>/dev/null

# Define the repository parent directory
{{- $dataDir := (datasource "config").gitaly.data_dir | default "/var/opt/csghub/gitaly" }}
mkdir -p {{ $dataDir }}/run {{ $dataDir }}/repositories &>/dev/null

# Create pid file and variable file
if [ ! -s {{ $dataDir }}/gitaly.pid ]; then
  echo -n 0 > {{ $dataDir }}/gitaly.pid
fi
echo {{ $dataDir }}/gitaly.pid > {{ $envDir }}/GITALY_PID_FILE

# Add secret key file
{{- $secret := "signing-key" }}
{{- if has (datasource "config").csghub "secret" }}
{{- $secret = (datasource "config").csghub.secret }}
{{- end }}
{{- $secretFile := printf "%s/.csghub_secret" $dataDir }}
{{- if has (datasource "config").csghub "secret_file" }}
{{- $secretFile = (datasource "config").csghub.secret_file }}
{{- end }}
{{- if and $secret $secretFile }}
mkdir -p {{ path.Dir $secretFile }} &>/dev/null
echo {{ $secret }} > {{ $secretFile }}
{{- end }}

chown -R git:git {{ $dataDir }}/run {{ $dataDir }}/repositories

exit 0
