#!/bin/bash

{{- $logDir := "/var/log/csghub/registry" }}
{{- if has (datasource "config").registry "log" }}
{{- if has (datasource "config").registry.log "dir" }}
{{- if (datasource "config").registry.log.dir }}
{{- $logDir = (datasource "config").registry.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
