#!/bin/bash

{{- $logDir := "/var/log/csghub/registry" }}
{{- if has .registry "log" }}
{{- if .registry.log.dir }}
{{- $logDir = .registry.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
