#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

# fail on errors
set -e

cd /opt/csghub/embedded/sv/web/project
exec chpst -e /opt/csghub/etc/web/env -P \
  -u root:root \
  /opt/csghub/embedded/bin/celery -A config beat --loglevel=INFO