#!/bin/bash

{{- $logDir := "/var/log/csghub/xnet" }}
{{- if has .xnet "log" }}
{{- if .xnet.log.dir }}
{{- $logDir = .xnet.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
