#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $configDir := "/opt/csghub/etc/casdoor" }}
{{- $casdoor := (datasource "config").casdoor }}
{{- $dbname := "casdoor" }}
{{- $password := crypto.PBKDF2 $dbname "opencsg" 2048 8 }}
{{- if has $casdoor "db" }}
{{- if $casdoor.db.name }}
{{- $dbname = $casdoor.db.name }}
{{- end }}
{{- if $casdoor.db.password }}
{{- $password = $casdoor.db.password }}
{{- end }}
{{- end }}

# exit on error
set -e

# Create casdoor database
/opt/csghub/service/postgresql/create_database {{ $dbname }} {{ $password }}

# Load local sql scripts
/opt/csghub/service/postgresql/exec_pg_scripts {{ $dbname }} {{ $password }}

{{- $dataDir := (datasource "config").casdoor.data | default "/var/opt/csghub/casdoor" }}
if [ -f {{ $dataDir }}/app.conf ]; then
  mkdir -p {{ $dataDir }}/conf 2>/dev/null
  mv {{ $dataDir }}/app.conf {{ $dataDir }}/conf
  cp -a {{ $configDir }}/{web,files} {{ $dataDir }}/
fi

exit 0