#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# exit on error
set -e

{{- $configDir := "/opt/csghub/etc/casdoor" }}
{{- $casdoor := (datasource "config").casdoor }}
{{- $db := $casdoor.db }}
{{- $dbname := $db.name }}
{{- $password := $db.password | default (crypto.PBKDF2 $dbname "opencsg" 2048 8) }}
# Create casdoor database
/opt/csghub/service/postgresql/create_database {{ $dbname }} {{ $password }}

# Load local sql scripts
/opt/csghub/service/postgresql/exec_pg_scripts {{ $dbname }} {{ $password }}

{{- $dataDir := (datasource "config").casdoor.data | default "/var/opt/csghub/casdoor" }}
if [ -f {{ $dataDir }}/app.conf ]; then
  mkdir -p {{ $dataDir }}/conf || true
  mv {{ $dataDir }}/app.conf {{ $dataDir }}/conf
  cp -a {{ $configDir }}/{web,files} {{ $dataDir }}/ || true
fi

exit 0