#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

{{- $dataDir := (datasource "config").casdoor.data | default "/var/opt/csghub/casdoor" }}

cd {{ $dataDir }}
exec chpst -e /opt/csghub/etc/casdoor/env -P \
  -u casdoor:casdoor \
  /opt/csghub/embedded/bin/casdoor
