#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run pre-start hooks before any other initialization to allow them to set up necessary files and permissions.
csghub-ctl hook pre-start casdoor

{{- $dataDir := (datasource "config").casdoor.data | default "/var/opt/csghub/casdoor" }}

cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/casdoor/env -P \
  -u casdoor:casdoor \
  /opt/csghub/embedded/bin/casdoor
