#!/bin/bash

{{- $logDir := "/var/log/csghub/casdoor" }}
{{- if has .casdoor "log" }}
{{- if .casdoor.log.dir }}
{{- $logDir = .casdoor.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
