{{- $csghub := resolveUrl .csghub.external_url }}
temporalGrpcAddress: {{ printf "%s:%d" .temporal.rpc.bind_on_ip .temporal.rpc.grpc_port }}
port: {{ .temporal_ui.listen_port }}
publicPath: {{ .temporal_ui.public_path }}
enableUi: true
cloudUi: false
defaultNamespace: default
feedbackUrl:
refreshInterval: 0s
showTemporalSystemNamespace: false
disableWriteActions: false
workflowTerminateDisabled: false
workflowCancelDisabled: false
workflowSignalDisabled: false
workflowUpdateDisabled: false
workflowResetDisabled: false
workflowPauseDisabled: false
batchActionsDisabled: false
startWorkflowDisabled: true
hideWorkflowQueryErrors: false
refreshWorkflowCountsDisabled: false
activityCommandsDisabled: false
cors:
  cookieInsecure: {{ .temporal_ui.cors.cookie_insecure }}
  allowOrigins:
    # override framework's default that allows all origins "*"
    - {{ $csghub.url }}
    {{- range .temporal_ui.cors.allow_origins }}
    - {{ . }}
    {{- end }}

tls:
  caFile:
  certFile:
  keyFile:
  caData:
  certData:
  keyData:
  enableHostVerification: false
  serverName:
{{- $casdoorEp := resolveEndpoint $csghub.scheme $csghub.host .casdoor.listen "127.0.0.1:8000" }}
{{- $provider := .server.casdoor.endpoint | default $casdoorEp.url }}

auth:
  enabled: true
  providers:
  - label: sso
    type: oidc
    providerUrl: {{ $provider }}
    issuerUrl: {{ $provider }}
    clientId: {{ generateClientId "Admin" }}
    clientSecret: {{ generateClientSecret "Admin" }}
    callbackUrl: {{ printf "%s/-/temporal/auth/sso/callback" $csghub.url }}
    scopes:
      - openid
      - email
      - profile

codec:
  endpoint:
  passAccessToken: false
  includeCredentials: false

forwardHeaders:

hideLogs: {{ .temporal_ui.hideLogs }}
