{{- $temporal := (datasource "config").temporal -}}
{{- $temporalUI := (datasource "config").temporal_ui -}}
{{- $csghub := tmpl.Exec "config.csghub" . | data.YAML }}
{{- $server := (datasource "config").server }}
temporalGrpcAddress: {{ printf "%s:%d" $temporal.rpc.bind_on_ip $temporal.rpc.grpc_port }}
port: {{ $temporalUI.listen_port }}
publicPath: {{ $temporalUI.public_path }}
enableUi: true
bannerText:
cloudUi: false
defaultNamespace: default
feedbackUrl:
notifyOnNewVersion: true
refreshInterval: 0s
showTemporalSystemNamespace:
  false
disableWriteActions: false
workflowTerminateDisabled: false
workflowCancelDisabled: false
workflowSignalDisabled: false
workflowResetDisabled: false
batchActionsDisabled: false
startWorkflowDisabled: true
hideWorkflowQueryErrors: false
cors:
  cookieInsecure: {{ $temporalUI.cors.cookie_insecure }}
  allowOrigins:
    # override framework's default that allows all origins "*"
    - {{ $csghub.external }}
    {{- range $temporalUI.cors.allow_origins }}
    - {{ . }}
    {{- end }}

tls:
  caFile:
  certFile:
  keyFile:
  caData:
  certData:
  keyData:
  enableHostVerification: false
  serverName:
{{- $provider := $server.casdoor.endpoint | default (tmpl.Exec "endpoint.casdoor" .) }}
auth:
  enabled: true
  providers:
  - label: sso
    type: oidc
    providerUrl: {{ $provider }}
    issuerUrl: {{ $provider }}
    clientId: {{ tmpl.Exec "GenClientId" "Admin" }}
    clientSecret: {{ tmpl.Exec "GenClientSecret" "Admin" }}
    callbackUrl: {{ printf "%s/-/temporal/auth/sso/callback" $csghub.external }}
    scopes:
      - openid
      - email
      - profile
codec:
  endpoint:
  passAccessToken: false
  includeCredentials: false

forwardHeaders:

hideLogs: {{ $temporalUI.hideLogs }}