{{- $csghub := resolveUrl .csghub.external_url }}
api_token = {{ deriveToken | quote }}
cas_url = {{ printf "%s/xnet" $csghub.url | quote }}

[xnet_server]
port = {{ .xnet.listen_port }}

# Only one of fdb and pg is active; If you compile using tags=fdb, no other configuration is needed.
[fdb]
# enabled: true - persistence-model | false - in-memory-model
enabled = false
cluster_file = "{fdb_cluster_file_path}"
api_version = 740
tenant = ""
namespace = "default"
default_timeout_ms = 5000
tx_timeout_ms = 10000
max_retry_attempts = 5
retry_backoff_ms = 20

{{- $postgresql := .xnet.postgresql }}
{{- $pgUser := $postgresql.user }}
{{- $pgPassword := $postgresql.password | default (pbkdf2 $pgUser "opencsg" 2048 8) }}

[database]
driver = "pg"
dsn = {{ printf "postgresql://%s:%s@%s:%d/%s?sslmode=disable" (toString $pgUser) (toString $pgPassword) (toString $postgresql.host) (int64 $postgresql.port) (toString $postgresql.name) | quote }}
timezone = {{ $postgresql.timezone | quote }}

{{- $s3 := .xnet.s3 }}

[xorb]
meta_store = "s3"
{{- $s3Endpoint := $s3.endpoint | default (printf "%s:9000" $csghub.host) }}
xorb_s3_url = {{ printf "%s/%s" $s3Endpoint $s3.bucket | quote }}
signed_ul_expire_hours = {{ .xnet.s3.signed_ul_expire_hours | default 3 }}
cleanup_timeout_seconds = 30

{{- $accessKeyId := $s3.access_key }}
{{- $secretKey := $s3.secret_key | default (pbkdf2 $accessKeyId "opencsg" 2048 8) }}

[s3]
access_key_id = {{ $accessKeyId | quote }}
access_key_secret = {{ $secretKey | quote }}
region = {{ $s3.region | quote }}
endpoint = {{ $s3Endpoint | quote }}
internal_endpoint = {{ $s3.internal_endpoint | quote }}
xorb_bucket = {{ $s3.bucket | quote }}
enable_ssl = {{ $s3.secure }}
{{- if $s3.path_style }}
bucket_lookup = "path"
{{- else }}
bucket_lookup = "auto"
{{- end }}
lfs_bucket = {{ .server.s3.bucket | quote }}
# Provider type: minio, aws, aliyun, isilon, rustfs, other etc.
provider = ""

[license]
public_key_file = "/opt/csghub/embedded/etc/server/enterprise/public_key_ee.pem"

[jwt]
signing_key = {{ persistentSeed | sha256sum | quote }}
valid_hour = 24

[instrumentation]
otlp_endpoint = "{otlp_endpoint}"
otlp_logging = false

{{- $natsUser := .nats.auth.user }}
{{- $natsPassword := .nats.auth.password | default (pbkdf2 $natsUser "opencsg" 2048 8) }}
{{- $xnetNats := .xnet.nats }}

[nats]
url = {{ $xnetNats.url | default (printf "nats://%s:%s@localhost:4222" (toString $natsUser) (toString $natsPassword)) | quote }}
msg_fetch_timeout_in_sec = {{ $xnetNats.msg_fetch_timeout_in_sec }}
