#!/bin/bash

{{- $logDir := "/var/log/csghub/dataviewer" }}
{{- if has .dataviewer "log" }}
{{- if .dataviewer.log.dir }}
{{- $logDir = .dataviewer.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
