#!/bin/bash

{{- $logDir := "/var/log/csghub/dataviewer" }}
{{- if has (datasource "config").dataviewer "log" }}
{{- if has (datasource "config").dataviewer.log "dir" }}
{{- if (datasource "config").dataviewer.log.dir }}
{{- $logDir = (datasource "config").dataviewer.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
