#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $envDir := "/opt/csghub/etc/temporal-ui/env" }}

# Clear all environment variable files
rm -rf {{ $envDir }}/* &>/dev/null

{{- $temporal := (datasource "config").temporal }}
echo {{ $temporal.public_path | default "/temporal-ui" }} > {{ $envDir }}/TEMPORAL_UI_PUBLIC_PATH

exit 0