#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

# fail on errors
set -eu -o pipefail

{{- $configDir := "/opt/csghub/etc/temporal-ui/" }}

if [ -f {{ $configDir }}/config/config_template.yaml ]; then
    >&2 echo "Custom config templates should now be mounted at: /home/ui-server/config-template.yaml"
    exit 1
fi

dockerize -template {{ $configDir }}/config-template.yaml:{{ $configDir }}/config/docker.yaml

# Run bash instead of ui-server if "bash" is passed as an argument (convenient to debug docker image).
for arg in "$@" ; do [[ ${arg} == "bash" ]] && bash && exit 0 ; done

exec chpst -e /opt/csghub/etc/temporal-ui/env -P \
  -U temporal:temporal \
  -u temporal:temporal \
  /opt/csghub/embedded/bin/ui-server --env docker start
