{{- $casdoor := (datasource "config").casdoor -}}
{{- $db := $casdoor.db -}}
{{- $pgUser := $db.user -}}
{{- $pgPassword := crypto.PBKDF2 $pgUser "opencsg" 2048 8 -}}
{{- $dataDir := (datasource "config").casdoor.data -}}
appname = casdoor
httpport = 8087
runmode = prod
copyrequestbody = true
driverName = postgres
dataSourceName = "user={{ $pgUser }} password={{ $pgPassword }} host={{ $db.host }} port={{ $db.port }} sslmode=disable dbname={{ $db.name }}"
dbName =
tableNamePrefix =
showSql = false
redisEndpoint =
defaultStorageProvider =
isCloudIntranet = false
authState = "casdoor"
socks5Proxy = "127.0.0.1:10808"
verificationCodeTimeout = 10
initScore = 0
logPostOnly = true
origin =
originFrontend =
staticBaseUrl = "https://cdn.casbin.org"
isDemoMode = false
batchSize = 100
enableGzip = true
ldapServerPort = 389
radiusServerPort = 1812
radiusSecret = "secret"
quota = {"organization": -1, "user": -1, "application": -1, "provider": -1}
logConfig = {"filename": "logs/casdoor.log", "maxdays":99999, "perm":"0770"}
initDataFile = "{{ $dataDir }}/init_data.json"
initDataNewOnly = true
frontendBaseDir = "/opt/csghub/etc/casdoor"
inactiveTimeoutMinutes = 30
