#!/bin/bash

{{- $logDir := "/var/log/csghub/agentic" }}
{{- if has .agentic "log" }}
{{- if .agentic.log.dir }}
{{- $logDir = .agentic.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
