#!/bin/bash

{{- $logDir := "/var/log/csghub/agentic" }}
{{- if has (datasource "config").agentic "log" }}
{{- if has (datasource "config").agentic.log "dir" }}
{{- if (datasource "config").agentic.log.dir }}
{{- $logDir = (datasource "config").agentic.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
