#!/bin/bash

{{- $logDir := "/var/log/csghub/postgresql" }}
{{- if has .postgresql "log_dir" }}
{{- if .postgresql.log_dir }}
{{- $logDir = .postgresql.log_dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
