#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
csghub-ctl hook pre-start loki

# fail on errors
set -e

{{- $runUser := (datasource "run_user").run_user }}
{{- $dataDir := (datasource "config").loki.data | default "/var/opt/csghub/loki" }}
{{- $configDir := "/opt/csghub/service/loki/etc" }}
cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/loki/env -P \
  -u {{ $runUser }}:{{ $runUser }} \
  /opt/csghub/embedded/bin/loki \
    -config.file={{ $configDir }}/loki-config.yaml \
    -server.path-prefix="/-/loki"
