#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $envDir := "/opt/csghub/etc/praefect/env" }}
{{- $dataDir := (datasource "config").praefect.data_dir | default "/var/opt/csghub/praefect" }}

{{- $pidFile := printf "%s/praefect.pid" $dataDir }}
if [ ! -s {{ $pidFile }} ]; then
  echo 0 > {{ $pidFile }}
fi
{{- file.Write (printf "%s/GITALY_PID_FILE" $envDir) $pidFile }}

