#!/bin/bash

{{- $dataDir := (datasource "config").praefect.data_dir | default "/var/opt/csghub/praefect" }}
if [ ! -s {{ $dataDir }}/praefect.pid ]; then
  echo 0 > {{ $dataDir }}/praefect.pid
fi

echo {{ $dataDir }}/praefect.pid > /opt/csghub/etc/praefect/env/GITALY_PID_FILE

chown -R gitaly:gitaly {{ $dataDir }}
