#!/bin/bash

{{- $logDir := "/var/log/csghub/notifier" }}
{{- if has .notifier "log" }}
{{- if .notifier.log.dir }}
{{- $logDir = .notifier.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
