{{- $registry := (datasource "config").registry -}}
{{- $dataDir := $registry.data | default "/var/opt/csghub/registry" -}}
{{- $minio := (datasource "config").minio -}}
{{- $user := "minio" -}}
{{- $password := crypto.PBKDF2 $user "opencsg" 2048 8 -}}
{{- if has $minio "auth" -}}
{{- if $minio.auth.user -}}
{{- $user = $minio.auth.user -}}
{{- end -}}
{{- if $minio.auth.password -}}
{{- $password = $minio.auth.password -}}
{{- end -}}
{{- end -}}
version: 0.1
log:
  {{- $logLevel := "info" -}}
  {{- $logFormatter := "text" }}
  {{- if has $registry "log" -}}
  {{- $logLevel = $registry.log.level -}}
  {{- $logFormatter = $registry.log.formatter }}
  {{- end }}
  level: {{ $logLevel }}
  formatter: {{ $logFormatter }}
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  {{- if has $registry "storage" -}}
  {{- if has $registry.storage "filesystem" -}}
  filesystem:
    rootdirectory: {{ $registry.storage.filesystem.rootdirectory }}
    maxthreads: {{ $registry.storage.filesystem.maxthreads }}
  {{- else }}
  {{- if has $registry.storage "s3" }}
  {{- $auth := $registry.storage.s3 }}
  s3:
    accesskey: {{ $auth.accesskey | default $user }}
    secretkey: {{ $auth.secretkey | default $password }}
    region: {{ $auth.region | default "cn-north-1" }}
    regionendpoint: {{ $auth.region | default "http://127.0.0.1:9000" }}
    forcepathstyle: {{ $auth.forcepathstyle | default false }}
    bucket: {{ $auth.bucket | default "csghub-registry" }}
    encrypt: {{ $auth.encrypt | default false }}
    secure: {{ $auth.secure | default false }}
    v4auth: {{ $auth.v4auth | default true }}
    skipverify: {{ $auth.skipverify | default true }}
  {{- end }}
  {{- end }}
  {{- end }}
http:
  addr: {{ $registry.listen | default "127.0.0.1:5000" }}
  headers:
    X-Content-Type-Options: [nosniff]
auth:
  htpasswd:
    realm: basic-realm
    path: {{ printf "%s/.htpasswd" $dataDir }}
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
