#!/bin/bash

{{- $logDir := "/var/log/csghub/praefect" }}
{{- if has .praefect "logging" }}
{{- if .praefect.logging.dir }}
{{- $logDir = .praefect.logging.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
