#!/bin/bash

{{- $logDir := "/var/log/csghub/nginx" }}
{{- if has (datasource "config").nginx "log" }}
{{- if has (datasource "config").nginx.log "dir" }}
{{- if (datasource "config").nginx.log.dir }}
{{- $logDir = (datasource "config").nginx.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
