#!/bin/bash

{{- $logDir := "/var/log/csghub/nginx" }}
{{- if has .nginx "log" }}
{{- if .nginx.log.dir }}
{{- $logDir = .nginx.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
