#!/bin/bash

{{- $logDir := "/var/log/csghub/proxy" }}
{{- if has (datasource "config").proxy "log" }}
{{- if has (datasource "config").proxy.log "dir" }}
{{- if (datasource "config").proxy.log.dir }}
{{- $logDir = (datasource "config").proxy.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -U root:root \
  -u root:root \
  svlogd -tt {{ $logDir }}
