#!/bin/bash

{{- $logDir := "/var/log/csghub/moderation" }}
{{- if has .moderation "log" }}
{{- if .moderation.log.dir }}
{{- $logDir = .moderation.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
