#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $configDir := "/opt/csghub/etc/temporal_ui" }}
{{ $temporalUI := (datasource "config").temporal_ui }}
{{- $user := $temporalUI.auth.user }}
{{- $password := $temporalUI.auth.password | default (crypto.PBKDF2 $user "opencsg" 2048 8) }}
{{- file.Write (printf "%s/.htpasswd" $configDir) (printf "%s:%s" $user ($password | crypto.Bcrypt)) }}
{{- file.Write "/etc/csghub/init_temporal_password" (printf "%s:%s\n" $user $password) }}

