#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

{{- $dataDir := .temporal_ui.data | default "/var/opt/csghub/temporal_ui" }}
{{- $temporalDataDir := .temporal.data | default "/var/opt/csghub/temporal" }}
cd {{ $dataDir }}
exec chpst -P \
  -e /opt/csghub/service/temporal_ui/env \
  -u {{ .run_user }}:{{ .run_user }} \
  /opt/csghub/embedded/bin/ui-server --env docker --root /opt/csghub/service/temporal_ui --config etc/ start
