#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

# fail on errors
set -eu -o pipefail

{{- $dataDir := (datasource "config").temporal.data | default "/var/opt/csghub/temporal_ui" }}
cd {{ $dataDir }}

exec chpst -P \
  -e /opt/csghub/etc/temporal/env \
  -e /opt/csghub/etc/temporal_ui/env \
  -U temporal:temporal \
  -u temporal:temporal \
  /opt/csghub/embedded/bin/ui-server \
    --env docker \
    --root {{ $dataDir }}/env \
    --config .. \
    start
