#!/bin/bash

{{- $logDir := "/var/log/csghub/temporal_ui" }}
{{- if has (datasource "config").temporal_ui "log" }}
{{- if has (datasource "config").temporal_ui.log "dir" }}
{{- if (datasource "config").temporal_ui.log.dir }}
{{- $logDir = (datasource "config").temporal_ui.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -U root:root \
  -u root:root \
  svlogd -tt {{ $logDir }}
