#!/bin/bash

{{- $logDir := "/var/log/csghub/temporal_ui" }}
{{- if has .temporal_ui "log" }}
{{- if .temporal_ui.log.dir }}
{{- $logDir = .temporal_ui.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
