#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Exit if execute with any errors
set -e

{{- $dataDir := (datasource "config").registry.data | default "/var/opt/csghub/registry" }}

{{- $registry := (datasource "config").registry }}
{{- $auth := $registry.auth }}
{{- $user := $auth.username | default "registry" }}
{{- $password := $auth.password | default (crypto.PBKDF2 "registry" "opencsg" 2048 8) }}
{{- if and $user $password}}
{{- $htpasswdFile := printf "%s/.htpasswd" $dataDir }}
{{- $encrypt := printf "%s:%s" $user (crypto.Bcrypt $password) }}
{{- file.Write $htpasswdFile $encrypt }}
{{- file.Write "/etc/csghub/init_registry_password" (printf "%s:%s\n" $user $password) }}
{{- end }}

{{- $minio := (datasource "config").minio }}
{{- if $minio.enable }}
# Create bucket
[ -x "/opt/csghub/service/minio/create_bucket" ] && /opt/csghub/service/minio/create_bucket {{ $registry.storage.s3.bucket }}
{{- end }}

