#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $dataDir := (datasource "config").registry.data | default "/var/opt/csghub/registry" }}
chown -R registry:registry {{ $dataDir }}

cd {{ $dataDir }}
{{- $registry := (datasource "config").registry }}
{{- $auth := $registry.auth }}
{{- $user := $auth.username | default "registry" }}
{{- $password := $auth.password | default (crypto.PBKDF2 "registry" "opencsg" 2048 8) }}
{{- if and $user $password}}
{{- $htpasswdFile := printf "%s/.htpasswd" $dataDir }}
{{- $encrypt := printf "%s:%s" $user (crypto.Bcrypt $password) }}
{{- file.Write $htpasswdFile $encrypt }}
{{- end }}

{{- $minio := (datasource "config").minio }}
{{- if $minio.enable }}
# Create bucket
if [ -x "/opt/csghub/service/minio/create_bucket" ]; then
    /opt/csghub/service/minio/create_bucket {{ $registry.storage.s3.bucket }}
fi
{{- end }}

exit 0