#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

{{- $dataDir := (datasource "config").registry.data | default "/var/opt/csghub/registry" }}
{{- $configDir := "/opt/csghub/service/registry/etc" }}

cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/registry/env -P \
  -u registry:registry \
  /opt/csghub/embedded/bin/registry serve {{ $configDir }}/config.yml

