#!/bin/bash

{{- $logDir := "/var/log/csghub/web" }}
{{- if has (datasource "config").web "log" }}
{{- if has (datasource "config").web.log "dir" }}
{{- if (datasource "config").web.log.dir }}
{{- $logDir = (datasource "config").web.log.dir }}
{{- end }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
