#!/bin/bash

{{- $logDir := "/var/log/csghub/web" }}
{{- if has .web "log" }}
{{- if .web.log.dir }}
{{- $logDir = .web.log.dir }}
{{- end }}
{{- end }}

exec chpst -P \
  -u root:root \
  svlogd -tt {{ $logDir }}
