#!/bin/bash -e

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

{{- $dataDir := .minio.data | default "/var/opt/csghub/minio/data" }}

cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/minio/env -P \
  -u {{ .run_user }}:{{ .run_user }} \
  /opt/csghub/embedded/bin/minio server \
    --address {{ .minio.listen }}  \
    --console-address {{ .minio.console.address }} \
    --json \
    {{ $dataDir }}
