#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $dataDir := (datasource "config").temporal.data | default "/var/opt/csghub/temporal" }}
{{- $envDir := printf "%s/env" $dataDir }}
cd {{ $envDir }}

# Clear all environment variable files
rm -rf {{ $envDir }}/* || true

{{- $temporal := (datasource "config").temporal }}
{{- $db := $temporal.db }}
{{- $dbname := $db.name }}
{{- $password := $db.password | default (crypto.PBKDF2 $dbname "opencsg" 2048 8) }}
{{- file.Write (printf "%s/DB" $envDir) "postgres12" }}
{{- file.Write (printf "%s/DBNAME" $envDir) $dbname }}
{{- file.Write (printf "%s/POSTGRES_SEEDS" $envDir) $db.host }}
{{- file.Write (printf "%s/DB_PORT" $envDir) $db.port }}
{{- file.Write (printf "%s/POSTGRES_USER" $envDir) $db.user }}
{{- file.Write (printf "%s/POSTGRES_PWD" $envDir) $password }}
{{- $visibilityDB := printf "%s_%s" $dbname $temporal.persistence.visibility_store }}

# Create temporal database
/opt/csghub/service/postgresql/create_database {{ $dbname }} {{ $password }}
/opt/csghub/service/postgresql/create_database {{ $visibilityDB }} {{ $password }}

exit 0