#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

: "${TEMPORAL_HOME:=/opt/csghub/etc/temporal}"
export TEMPORAL_HOME

{{- $dataDir := (datasource "config").temporal.data | default "/var/opt/csghub/temporal" }}
cd {{ $dataDir }}

# Setup temporal database
chpst -e {{ $dataDir }}/env -P \
  -U temporal:temporal \
  -u temporal:temporal \
  "${TEMPORAL_HOME}"/auto-setup.sh

# fail on errors
set -e

exec chpst -e {{ $dataDir }}/env -P \
  -U temporal:temporal \
  -u temporal:temporal \
  /opt/csghub/embedded/bin/temporal-server \
    --allow-no-auth \
    --env docker \
    --root {{ $dataDir }}/env \
    --config ../ \
    start