#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# Run the pre-start script to ensure that the service meets the startup conditions
if [ -x ./pre-start ]; then
  ./pre-start
fi

# fail on errors
set -e

{{- $dataDir := (datasource "config").temporal.data | default "/var/opt/csghub/temporal" }}
cd {{ $dataDir }}
exec chpst -e /opt/csghub/etc/temporal/env -P \
  -U temporal:temporal \
  -u temporal:temporal \
  /opt/csghub/etc/temporal/entrypoint.sh

