#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

{{- $envDir := "/opt/csghub/etc/postgresql/env" }}
cd {{ $envDir }}

# Clear all environment variable files
# rm -rf {{ $envDir }}/* || true

{{- $postgresql := (datasource "config").postgresql }}
{{- $dataDir := $postgresql.data_dir | default "/var/opt/csghub/postgresql/data" }}
chown -R postgres:postgres {{ $dataDir }} || true

{{- file.Write (printf "%s/PGHOME" $envDir) "/opt/csghub/embedded/sv/postgresql" }}
{{- file.Write (printf "%s/PGDATA" $envDir) $dataDir }}
{{- file.Write (printf "%s/LD_LIBRARY_PATH" $envDir) "$LD_LIBRARY_PATH:$PGHOME/lib" }}
{{- file.Write (printf "%s/MANPATH" $envDir) "$MANPATH:$PGHOME/share/man" }}
{{- file.Write (printf "%s/PATH" $envDir) "$PGHOME/bin:$PATH" }}

if [ ! -f "$PGDATA/PG_VERSION" ]; then
    if [ -f {{ $dataDir }}/postgresql.conf ]; then
        mv {{ $dataDir }}/*.conf {{ $dataDir }}/..
    fi

    echo "Initializing database cluster..."
    chpst -e {{ $envDir }} -P \
      -u postgres:postgres \
      /opt/csghub/embedded/bin/initdb --encoding=UTF8 -D {{ $dataDir }}

    if [ -f {{ $dataDir }}/../postgresql.conf ]; then
        mv {{ $dataDir }}/../*.conf {{ $dataDir }}/
    fi
fi

exit 0
