#!/bin/bash

# Redirect stderr -> stdout
exec 2>&1

# fail on errors
set -e

# Run pre-start hooks before any other initialization to allow them to set up necessary files and permissions.
csghub-ctl hook pre-start postgresql

{{- $dataDir := (datasource "config").postgresql.data_dir | default "/var/opt/csghub/postgresql" }}

cd {{ $dataDir }}
exec chpst -e /opt/csghub/service/postgresql/env -P \
  -u postgres:postgres \
  /opt/csghub/embedded/bin/postgres -D {{ $dataDir }} \
    -c config_file=/opt/csghub/service/postgresql/etc/postgresql.conf \
    -c hba_file=/opt/csghub/service/postgresql/etc/pg_hba.conf